In [1]:
import os
import pandas as pd

In [2]:
# CSVs to read in 

all_files = os.listdir("../data")
files_2017 = all_files[0:12]
files_2018 = all_files[12:]

In [3]:
# Read in data

dfs_2017 = [pd.read_csv(f'../data/{file}') for file in files_2017]
dfs_2018 = [pd.read_csv(f'../data/{file}') for file in files_2018]

In [4]:
# Change column names - 2017
for file in dfs_2017:
    file.columns = ['Trip Duration',
                    'Start Time',
                    'Stop Time',
                    'Start Station ID',
                    'Start Station Name',
                    'Start Station Latitude',
                    'Start Station Longitude',
                    'End Station ID',
                    'End Station Name',
                    'End Station Latitude',
                    'End Station Longitude',
                    'Bike ID',
                    'User Type',
                    'Birth Year',
                    'Gender']

In [5]:
# Change column names - 2018
for file in dfs_2018:
    file.columns = ['Trip Duration',
                    'Start Time',
                    'Stop Time',
                    'Start Station ID',
                    'Start Station Name',
                    'Start Station Latitude',
                    'Start Station Longitude',
                    'End Station ID',
                    'End Station Name',
                    'End Station Latitude',
                    'End Station Longitude',
                    'Bike ID',
                    'delete',
                    'User Type',
                    'Birth Year',
                    'Gender']

ValueError: Length mismatch: Expected axis has 15 elements, new values have 16 elements

In [6]:
# Create dfs for 2017
df_2017 = pd.concat(dfs_2017)
df_2017.head(2)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1

In [7]:
# Create dfs for 2018

df_2018 = pd.concat(dfs_2018)
df_2018 = df_2018.drop(['delete'], axis = 1)
df_2018.head(2)

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,Start Time,Stop Time,Trip Duration,User Type
0,29590,1964.0,3211,40.721525,-74.046305,Newark Ave,1,3186,40.719586,-74.043117,Grove St PATH,2018-01-01 00:01:46,2018-01-01 00:03:58,132,Subscriber
1,29613,1989.0,3269,40.726012,-74.050389,Brunswick & 6th,2,3276,40.714584,-74.042817,Marin Light Rail,2018-01-01 01:27:17,2018-01-01 01:36:38,560,Subscriber

In [8]:
# Create final df

df_final = pd.concat([df_2017,df_2018])

# Check head
df_final.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,Start Time,Stop Time,Trip Duration,User Type
0,24575,1983.0,3185,40.717733,-74.043845,City Hall,1,3276,40.714584,-74.042817,Marin Light Rail,2017-01-01 00:21:32,2017-01-01 00:24:01,148,Subscriber
1,24723,1978.0,3198,40.748716,-74.040443,Heights Elevator,1,3183,40.716247,-74.033459,Exchange Place,2017-01-01 00:24:35,2017-01-01 00:45:58,1283,Subscriber
2,24620,1989.0,3211,40.721525,-74.046305,Newark Ave,1,3183,40.716247,-74.033459,Exchange Place,2017-01-01 00:38:19,2017-01-01 00:44:31,372,Subscriber
3,24668,1961.0,3271,40.692640,-74.088012,Danforth Light Rail,1,3194,40.725340,-74.067622,McGinley Square,2017-01-01 00:38:37,2017-01-01 01:03:50,1513,Subscriber
4,26167,1993.0,3203,40.727596,-74.044247,Hamilton Park,1,3183,40.716247,-74.033459,Exchange Place,2017-01-01 01:47:52,2017-01-01 01:58:31,639,Subscriber

In [9]:
# Check tail
df_final.tail()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,Start Time,Stop Time,Trip Duration,User Type
32340,24551,1956.0,3203,40.727596,-74.044247,Hamilton Park,1,3186,40.719586,-74.043117,Grove St PATH,2017-03-10 17:39:03,2017-03-10 17:44:18,315,Subscriber
32341,24462,1995.0,3277,40.714358,-74.066611,Communipaw & Berry Lane,1,3185,40.717732,-74.043845,City Hall,2017-03-10 17:39:21,2017-03-13 08:12:46,221604,Subscriber
32342,24541,1988.0,3276,40.714584,-74.042817,Marin Light Rail,1,3183,40.716247,-74.033459,Exchange Place,2017-03-10 17:40:03,2017-03-10 17:44:13,250,Subscriber
32343,24608,1964.0,3195,40.730743,-74.063784,Sip Ave,1,3280,40.719282,-74.071262,Astor Place,2017-03-10 17:40:07,2017-03-10 17:47:53,465,Subscriber
32344,26311,1965.0,3279,40.721630,-74.049968,Dixon Mills,1,3267,40.712419,-74.038526,Morris Canal,2017-03-10 17:40:36,2017-03-10 17:47:35,418,Subscriber

In [10]:
df_final.to_csv("../data/final_citibike_data.csv", index = False)